/*mobile first styling*/
html{
    font-family: 'Gloria Hallelujah', cursive;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background-color: lightskyblue;
}
strong{
    color: blue;
    font-size: 1.3em;
}
#header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    /* position:absolute;
    top: 0px; */
    width: calc(100%-10px);
    min-height: 20%;
    max-height: auto;
    border-radius: 10px;
    margin: 5px;
}
    #header-img{
        height: 80%;
        background-color: white;
        border-radius: 15px;
        padding: 5px;
        border: solid black 2px;
    }
    #slogan{
        text-align: center;
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        font-size: 1em;
    }
    #nav-bar{
        display: flex;
        width: 100%;
        height: 50%;
        font-size: .8em;
    }
    #nav-list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        background-color: #F9C029;
        border-radius: 10px;
        font-size: 1em;
    }
    .nav-link-box{
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .nav-link{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        background-color: white;
        border-radius: 5px;
        padding: 2px;
    }
    /*won't work on mobile - maybe I should develop hoover tech for mobile.. register your finger w/in a certain distance, but doesn't click..*/
    .nav-link:hover{
        background-color: pink;
        color: blue;
    }
#armor-selection-box{
    width: 90%;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
}
    .armor-cell{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-items: space-between;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }
    .armor-image{
        display: flex;
        height: 80px;
        width: 150px;
        border-radius: 5px;
        margin-right: 10px;
        border: solid black 2px;
    }
    .armor-description{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 80%;
        display: flex;
        background-color: #F9C029;
        border-radius: 5px;
        padding: 10px 5px;
        border: solid black 2px;
    }
    strong{
        margin: 5px;
        text-align: center;
    }
    hr{
        border: solid lightskyblue 2px;
        width: 95%;
        border-radius: 10px;
    }

#video-box{
    display: flex;
    background-color: #F9C029;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
}
    #video{
        height: 100%;
        width: 100%;
    }

/*media query for desktop specific styling*/
@media only screen and (min-width: 600px) {
    /*copy - paste from early development, re-styling for mobile
    #header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        position:absolute;
        top: 0px;
        width: 100%;
        height: 20%;
        border-radius: 10px;
    }
        #header-img{
            height: 100%;
            width: 90px;
            background-color: white;
            border-radius: 15px;
        }
        #slogan{
            text-align: center;
            width: 20%;
            display: flex;
            flex-wrap: wrap;
            font-size: 1.8em;
        }
        #nav-bar{
            display: flex;
            width: 100%;
            height: 50%;
            font-size: 1.5em;
        }
        #nav-list{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            background-color: #F9C029;
            border-radius: 10px;
            font-size: 1em;
        }
*/
#video-box{
    width: 560px;
    height: 315px;
}
        #video{
            
        }
}
/*
    User Story #1: My product landing page should have a header element with a corresponding id="header".
    User Story #2: I can see an image within the header element with a corresponding id="header-img". A company logo would make a good image here.
    User Story #3: Within the #header element I can see a nav element with a corresponding id="nav-bar".
    User Story #4: I can see at least three clickable elements inside the nav element, each with the class nav-link.
User Story #5: When I click a .nav-link button in the nav element, I am taken to the corresponding section of the landing page.
    User Story #6: I can watch an embedded product video with id="video".
    User Story #7: My landing page has a form element with a corresponding id="form".
    User Story #8: Within the form, there is an input field with id="email" where I can enter an email address.
    User Story #9: The #email input field should have placeholder text to let the user know what the field is for.
    User Story #10: The #email input field uses HTML5 validation to confirm that the entered text is an email address.
    User Story #11: Within the form, there is a submit input with a corresponding id="submit".
    User Story #12: When I click the #submit element, the email is submitted to a static page (use this mock URL: https://www.freecodecamp.com/email-submit) that confirms the email address was entered and that it posted successfully.
User Story #13: The navbar should always be at the top of the viewport.
    User Story #14: My product landing page should have at least one media query.
User Story #15: My product landing page should utilize CSS flexbox at least once.
*/